# Xcode
#
.DS_Store
*/build/
*/DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Schemes
*.xcscheme.*.xcscheme

# Swift Package Manager
.build/
Packages/

# Xcode user-specific stuff – NIE committen!
*.xcuserstate
*.xcuserdatatype
xcuserdata/

# Andere Xcode-Müll-Dateien
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
